@import "base";
.search_item {
  margin-top: rem(20);
  padding: rem(10) rem(20);
  @include rowBetween;
  .icon_filter {
    width: rem(60);
    height: rem(60);
    -webkit-background-size: rem(36) rem(36);
    background-size: rem(36) rem(36);
  }
}
.search_box {
  padding: 0;
  .search_input {
    background-color: #EEEEED;
    width: rem(540);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .search_btn {
    text-align: center;
    width: rem(100);
    line-height: rem(60);
    border-top-right-radius: rem(60);
    border-bottom-right-radius: rem(60);
  }
}
.weui-popup__container {
  width: 80%;
  left: 20%;
  .current {
    padding: rem(20) rem(20) rem(30);
    border-bottom: $line_border;
  }
  .cur_year {
    width: rem(170);
    height: rem(70);
    line-height: rem(70);
    @include borderRadius(rem(36));
    text-align: center;
    margin-top: rem(20);
  }
  .month_list {
    @include rowAround;
    flex-wrap: wrap;
    padding-top: rem(20);
  }
  .month_item {
    width: rem(160);
    height: rem(60);
    line-height: rem(60);
    text-align: center;
    background-color: #F6F5F5;
    @include borderRadius(rem(30));
    margin-bottom: rem(20);
  }
  .active {
    background-color: #FFEFF0;
    color: $primaryRed;
  }
}

.footer {
  bottom: rem(160);
  @include rowR;
  color: #ffffff;
  text-align: center;
  .reset, .confirm {
    width: rem(186);
    height: rem(80);
    line-height: rem(80);
  }
  .reset, .confirm {
    background-image: url("../img/btn_reset.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .confirm {
    margin-right: rem(40);
    background-image: url("../img/btn_confirm.png");
  }
}
.weui-navbar {
  position: relative;
  margin: rem(10) 0;
  z-index: 1;
}
.order_item {
  padding: 0 rem(20);
  margin-bottom: rem(10);
  background-color: #fff;
  .img_box {
    img {
      width: rem(150);
      height: rem(150);
      @include borderRadius(5px);
    }
  }
  .media_box_item {
    margin-bottom: 0;
    border-bottom: $line_border;
    padding-left: 0;
    padding-right: 0;
    .media_title {
      -webkit-line-clamp: 1;
    }
  }
  .pay_price {
    color: $primaryRed;
    font-size: $fontsize_bigtitle;
  }
  .order_tip {
    @include rowBetween;
    padding: rem(10) rem(20);
  }
}



